In [2]:
print('Hello World! I wonder why that is always the default coding text to start with')

Hello World! I wonder why that is always the default coding text to start with

In [4]:
29+22

51

In [5]:
11-9

2

In [6]:
1988*1989

3954132

In [8]:
3/7

0.42857142857142855

In [13]:
str1 = 'I think I am getting the hang of this. '
str2 = 'One day I will be a Python master'
print(str1 + str2)

I think I am getting the hang of this. One day I will be a Python master

In [23]:
list1 = [1,'two','tres',4]

In [24]:
type(list1)

list

In [25]:
list1.append('cinco')

In [26]:
list1

[1, 'two', 'tres', 4, 'cinco']

In [27]:
tuple1 = ('one', 2,3,'four')

In [28]:
type(tuple1)

tuple